.card {
  border: 1px solid rgb(136, 136, 136);
  border-radius: 12px;
  padding: 6px 12px;
  background-color: white;
  margin: 0 6px;
}

.full-height {
  height: 100%;
}

.md-2 {
  width: 20%;
  margin: 0 6px;
}

.md-8 {
  width: 80%;
}

.row {
  display: flex;
  width: auto;
}

.list-test {
  width: auto;
  border-bottom: 20px solid #03a9f4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  list-style: none;
  margin: 0 0 0 12px;
  padding: 0;
}
.list-test h2 {
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
}
.list-test ul {
  position: relative;
  background: #fff;
}
.list-test ul li {
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  cursor: pointer;
  display: flex;
}
.list-test ul:hover li {
  opacity: 0.2;
}
.list-test ul li:hover {
  transform: scale(1.03);
  z-index: 100;
  background: #25bcff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 1;
}

.list-test ul li:hover span {
  background: #25bcff;
}

.test-form h1 {
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  height: auto;
}

.section {
  height: auto;
  /* min-height: 60px; */
  width: 100%;
  border: #03a9f4 solid 2px;
  border-radius: 12px;
  margin-top: 12px;
  padding: 12px 24px;
}

.section h3{
  width: fit-content;
  display: inline;
}

.open-btn{
  font-weight: 900;
  font-size: 18px;
  float: right;
  cursor: pointer;
}